.projects-horizontal {
  color: #313437;
  background-color: #fff;
}

.projects-horizontal p {
  color: #7d8285;
}

.projects-horizontal h2 {
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 50px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-horizontal h2 {
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 30px;
  }
}

.projects-horizontal .intro {
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto 8px;
}

.projects-horizontal .projects {
  padding-bottom: 50px;
}

.projects-horizontal .item {
  padding-top: 50px;
  min-height: 150px;
}

@media (max-width:700px) {
  .projects-horizontal .item {
    padding-top: 50px;
    min-height: 130px;
  }
}

.projects-horizontal .item .name {
  font-size: 18px;
  font-weight: italic;
  margin-top: 30px;
  margin-bottom: 30px;
  color: inherit;
}

@media (max-width:900px) {
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
}

.projects-horizontal .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

